.pemsatl.master {
  padding: 0px;
  margin: 0px;
  margin-left: 0.5vw;
  margin-bottom: 80px;
  width: 1%;
}

.pemsatl h1 {
  padding: 10px;
  color: #fff;
  background-color: #00368c;
  margin: 0px;
  border-bottom: 2px solid #6060c0;
  width: 100%;
}

.pemsatl section {
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  padding-right: 6px;
  width: 1%;
  margin-right: 6px;
}

.pemsatl div {
  display: block;
}

.pemsatl table {
  border-collapse: collapse;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  white-space: nowrap;
  width: 100%;
}

.pemsatl th {
  color: #fff;
  background-color: #00368c;
  font-variant: small-caps;
}

.pemsatl td,
.pemsatl th {
  white-space: nowrap;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 2px solid #ccc;
  padding-left: 3px;
  padding-right: 3px;
  width: 1%;
}

.pemsatl tr td:last-child {
    width: auto;
}

.pemsatl table:hover {
  box-shadow: -1px -1px 1px 1px #00368c;
}

.pemsatl tr:nth-child(n+1):hover {
  background-color: #ccf;
}

.pemsatl.table1d td,
.pemsatl.table1d th {
  white-space: nowrap;
  text-align: center;
}


.pemsatl.table2d tr td:nth-child(1) {
  font-variant: small-caps;
}

.pemsatl ul {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  margin: 0px;
  margin-left: 25px;
  margin-right: 15px;
  padding: 0px;
}

.pemsatl li {
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

.pemsatl b {
  font-variant: small-caps;
}

.pemsatl p {
  margin-top: 3px;
  margin-left: 15px;
  margin-bottom: 3px;
}

.pemsatl h4 {
  padding: 0px;
  padding-left: 10px;
  padding-bottom: 2px;
  margin: 0px;
  margin-left: 0px;
  margin-bottom: 5px;
  color: #fff;
  background-color: #00368c;
}

.pemsatl.leftaligntext {
  text-align: left;
}
